src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	
	
	<flow name="businessLogicFlow" doc:id="0817b335-da09-4ccb-9146-e9ec7e67f2ce" >
		<db:select config-ref="Database_Config" doc:name="Query Contact from Database" doc:id="bda4eae8-5fc5-4f72-baf6-c7ceb87cd2de" >
			<db:sql >SELECT ID,AccountName,FirstName,LastName,Phone,SalesforceId,LastModifiedById,Name,Email FROM Contact</db:sql>
		</db:select>
		<batch:job jobName="migrateContactBatch" doc:id="eaee232e-ce77-47ea-9370-9a3232255017" >
			<batch:process-records >
				<batch:step name="getContactInSalesforceStep" doc:id="e1f7cba2-535a-4f57-84f5-8a0e90961179" >
					<salesforce:query doc:id="649cc4c5-d6fd-487d-b4b5-b220de1e84e9" doc:name="Query Salesforce for Contact 2" config-ref="Salesforce_Sfdc_config">
						<salesforce:salesforce-query ><![CDATA[SELECT Id FROM Contact WHERE Name = ':name']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query>
					<ee:transform doc:name="Push Id to payload" doc:id="da37a068-c2ea-4382-b49e-8c3d3607302b" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInSF]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="findOrCreateAccountInSalesforceStep" doc:id="07297ccb-8d1f-439f-a228-4cea41b92de3" acceptExpression="#['${account.sync.policy}' == 'syncAccount' and payload.AccountName != null]">
					<salesforce:query config-ref="Salesforce_Sfdc_config" doc:name="Query account in Salesforce" doc:id="9a9da1ab-0ee8-41f1-ac1d-0eeb17106f38" target="accountId">
						<salesforce:salesforce-query>SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"name" : payload.AccountName
}]]]></salesforce:parameters>
					</salesforce:query>
					
					<ee:transform doc:name="Save record payload" doc:id="85cc2116-0378-4485-b72f-dd0ead077df2" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="recordPayload" ><![CDATA[%dw 2.0
output application/java
---
payload ++ {AccountId : vars.accountId.Id}]]></ee:set-variable>
							
						</ee:variables>
					</ee:transform>
					<choice doc:name="Should be a new Account created?" doc:id="e3e299ca-2ee8-48b3-aa0b-d824119169d7" >
						<when expression="#[vars.accountId.Id == null]" >
							<ee:transform doc:name="Prepare account" doc:id="bb374b7d-8319-4e96-bbd1-e53beefb9461">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"Name" : payload.AccountName
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create config-ref="Salesforce_Sfdc_config" type="Account" doc:name="Create Account in Salesforce" doc:id="c6c85706-9ed9-4725-b72d-00f0a58154c3" />
							<ee:transform doc:name="Push AccountId to payload" doc:id="1fcd49d3-2863-4dd3-88a6-215c7d94c30e" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload ++ { AccountId : payload.Id }]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						
</when>
						<otherwise >
							<logger level="INFO" doc:name="Log - Existing Account Id already set!" doc:id="b782ca51-c519-48da-b056-bc5519f5d8d2" message="Log - Existing Account Id already set!"/>
							<ee:transform doc:name="record payload" doc:id="89b43daf-bbdd-42d7-9a36-763d88b2ca5e" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="upsertContactInSalesforceStep" doc:id="4bb2d130-f8b8-42c2-bc9b-ebc950d70b80">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8dc2dbfb-3eee-4117-9a4f-14dc487912eb" size="${page.size}">
						<ee:transform doc:name="DB Contact to SFDC Contact" doc:id="5f83f006-28c5-4f53-8f92-8b45c2ee3a03" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	Id: $.Id,
	AccountId: $.AccountId,
	FirstName: $.FirstName,
	LastName: $.LastName,
	Email: $.Email,
	Phone: $.Phone
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert config-ref="Salesforce_Sfdc_config"  externalIdFieldName="Id" doc:name="Upsert bulk - Contacts in Salesforce" doc:id="0dc46f5b-89c9-40c7-a861-ee08a3904dcc" objectType="Contact"/>
</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
								<scatter-gather doc:name="Scatter-Gather" doc:id="4a4d1198-f042-483e-876e-703f84093eff">
			<route>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="0792420f-49de-4ebf-9bb6-5a7ad7c78113" message="Migration process has finished!" />
			</route>
					<route>
 						<ee:transform doc:name="Prepare migration result email"
 							doc:id="b3b2b23e-64ac-462d-9551-ad62ca954bfc">
 							<ee:message>
 								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"
  
 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "				++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
 							</ee:message>
 						</ee:transform>
 					</route>
		</scatter-gather>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="mainFlow" doc:id="6b2237ae-2de5-4b4e-a5b7-247962c1472f" >
		<flow-ref doc:name="Trigger migrateContactsBatch" doc:id="d1535f68-0b3f-4f7b-be55-dcec2dd97a51" name="businessLogicFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="50be09eb-a2ba-4c0d-8d05-3217fff78a9b" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="360ae831-77a9-4503-a1a1-6030acbdb9bd" name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
